@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

.navbar-light {
  background: #3aafa9;
}

.linkc {
  color: #000;
}

html{
  overflow: -moz-scrollbars-vertical; 
  overflow-y: hidden;
}

body {
  background-color: #3aafa9;
 
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: ;
  min-height: ;
}

.headingew {
  font-family: "Maven Pro", sans-serif;
  color: #17252a;
  font-size: 58px;
}

.headingew1 {
  font-family: "Exo", sans-serif;
  color: white;
  font-size: 52px;
}
.headingew5 {
  font-family: "Exo", sans-serif;
  color: white;
  font-size: 55px;
}
.headingew6 {
  font-family: "ZCOOL KuaiLe", cursive;
  color: black;
  font-size: 20px;
}
.headingew2 {
  font-family: "Maven Pro", sans-serif;
  color: white;
  font-size: 58px;
}

.headingew3 {
  font-size: 19px;
  font-family: "Exo", sans-serif;
}

.carousel {
  background: #000000;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: relative;
  top: 0;
  left: 0;
  min-height: 300px;
  min-width: auto;
}

.cartext {
  font-size: 45px;
  color: white;
  font-family: "Damion", cursive;
}

.carindi {
  color: black;
}

.nav-font {
  font-family: "Exo", sans-serif;
}

.buttondes {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 15px;
}

.button4 {
  border-radius: 16px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-body {
  min-height: 200px;
}
#coin-flip-cont {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 90px);
}

#coin {
  position: relative;
  width: 150px;
  transform-style: preserve-3d;
}

#coin .front,
#coin .back {
  position: absolute;
  width: 150px;
  height: 150px;
}

#coin .front {
  transform: translateZ(1px);
  border-radius: 50%;
  background-color: #dc1c13;
}

#coin .back {
  transform: translateZ(-1px) rotateY(180deg);
  border-radius: 50%;
  background-color: #2ecc71;
}

#coin.animation900 {
  -webkit-animation: rotate900 3s linear forwards;
  animation: rotate900 3s linear forwards;
}

#coin.animation1080 {
  -webkit-animation: rotate1080 3s linear forwards;
  animation: rotate1080 3s linear forwards;
}

#coin.animation1260 {
  -webkit-animation: rotate1260 3s linear forwards;
  animation: rotate1260 3s linear forwards;
}

#coin.animation1440 {
  -webkit-animation: rotate1440 3s linear forwards;
  animation: rotate1440 3s linear forwards;
}

#coin.animation1620 {
  -webkit-animation: rotate1620 3s linear forwards;
  animation: rotate1620 3s linear forwards;
}

#coin.animation1800 {
  -webkit-animation: rotate1800 3s linear forwards;
  animation: rotate1800 3s linear forwards;
}

#coin.animation1980 {
  -webkit-animation: rotate1980 3s linear forwards;
  animation: rotate1980 3s linear forwards;
}

#coin.animation2160 {
  -webkit-animation: rotate2160 3s linear forwards;
  animation: rotate2160 3s linear forwards;
}

/* @-webkit-keyframes rotate1980 {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(1980deg);
    -moz-transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
} */

@keyframes rotate1980 {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(1980deg);
    -moz-transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}

/* @-webkit-keyframes rotate2160 {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(2160deg);
    -moz-transform: rotateY(2160deg);
    transform: rotateY(2160deg);
  }
} */

@keyframes rotate2160 {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(2160deg);
    -moz-transform: rotateY(2160deg);
    transform: rotateY(2160deg);
  }
}

:root {
  --border-color: #d7dbe3;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans",
    "Helvetica Neue", sans-serif;
  --green: #0cd977;
  --red: #ff1c1c;
  --pink: #ff93de;
  --purple: #5767ed;
  --yellow: #ffc61c;
  --rotation: 0deg;
}

/* .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

@keyframes confettiRain {
  0% {
    opacity: 1;
    margin-top: -70vh;
    margin-left: -200px;
  }

  100% {
    opacity: 1;
    margin-top: 7-vh;
    margin-left: 200px;
  }
}

.confetti {
  opacity: 0;
  position:;
  width: 1rem;
  height: 1.5rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#confetti-wrapper {
  overflow: hidden !important;
}

.notvis {
  display: none;
}
.vis {
  display: block;
}




@import url(https://fonts.googleapis.com/css?family=Quicksand)

white = #fff
pink = #F14189
blue = #3498db
lighter-grey = #bdc3c7
grey = #333
black = #000

body
  font-family 'Quicksand', sans-serif
  background-color white
  color grey

#container
  position absolute
  top 50%
  left 50%
  margin-top -(1.5em/2)
  margin-left -(3em/2)
  
  #bot
    position absolute
    height 30px
    width 50px
    background-color lighter-grey
    animation 5s botMotion linear forwards
    
    #eyes
      position absolute
      width 40px
      height 20px
      top 5px
      left 5px
      background-color grey
  
      .eye
        height 10px
        width 5px
        background-color blue
        animation 5.6s eyeBlink .35s linear infinite
        border-radius  40%
      #left
        position absolute
        top 50%
        left 25%
        margin-top -5px
      #right
        position absolute
        top 50%
        right 25%
        margin-top -5px
  
    .finger
      position absolute
      height 10px
      width 5px
      background-color lighter-grey
  
    #leftarm
      position absolute
      top 0
      left 0
      height 30px
      width 25px
      .finger:nth-of-type(1)
        animation 5s lefttopfinger linear forwards
      .finger:nth-of-type(2)
        animation 5s leftbotfinger linear forwards
  
    #rightarm
      position absolute
      top 0
      right 0
      height 30px
      width 25px
      .finger:nth-of-type(1)
        animation 5s righttopfinger linear forwards
      .finger:nth-of-type(2)
        animation 5s rightbotfinger linear forwards
  
  #neck
    position absolute
    top 30px
    width 40px
    height 3px
    background-color grey
    margin-left 5px
    animation 5s neckMotion linear forwards
  
  #body
    position absolute
    top 33px
    width 50px
    height 10px
    background-color lighter-grey
    animation 5s bodyMotion linear forwards
  
  #legs
    position absolute
    top 33px
    left 25px
    .foot
      width 25px
      height 10px
      background-color lighter-grey
    #left
      position absolute
      top -10px
      left 0
      animation 5s leftfoot linear forwards
    #right
      position absolute
      top -10px
      right 0
      animation 5s rightfoot linear forwards


  
@keyframes lefttopfinger
  0%
    left 0
    top 5px
  10%, 20%
    left -10px
    top 5px
  30%
    left -10px
    top 2px
  40%
    left -10px
    top 5px
  50%
    left -10px
    top 2px
  60%
    left -10px
    top 5px
  70%
    left -10px
    top 2px
  80%, 90%
    left -10px
    top 5px
  100%
    left 0
    top 5px


@keyframes leftbotfinger
  0%
    left 0
    bottom 5px
  10%, 20%
    left -10px
    bottom 5px
  30%
    left -10px
    bottom 2px
  40%
    left -10px
    bottom 5px
  50%
    left -10px
    bottom 2px
  60%
    left -10px
    bottom 5px
  70%
    left -10px
    bottom 2px
  80%, 90%
    left -10px
    bottom 5px
  100%
    left 0
    bottom 5px

@keyframes righttopfinger
  0%
    right 0
    top 5px
  10%, 20%
    right -10px
    top 5px
  30%
    right -10px
    top 2px
  40%
    right -10px
    top 5px
  50%
    right -10px
    top 2px
  60%
    right -10px
    top 5px
  70%
    right -10px
    top 2px
  80%, 90%
    right -10px
    top 5px
  100%
    right 0
    top 5px

@keyframes rightbotfinger
  0%
    right 0
    bottom 5px
  10%, 20%
    right -10px
    bottom 5px
  30%
    right -10px
    bottom 2px
  40%
    right -10px
    bottom 5px
  50%
    right -10px
    bottom 2px
  60%
    right -10px
    bottom 5px
  70%
    right -10px
    bottom 2px
  80%, 90%
    right -10px
    bottom 5px
  100%
    right 0
    bottom 5px
  
  
@keyframes leftfoot
  0%
    top 0
  10%, 20%
    top 0
  30%
    top 12px
  40%
    top 0
  50%
    top 12px
  60%
    top 0
  70%
    top 12px
  80%, 90%, 100%
    top 0

@keyframes rightfoot
  0%
    top 0
  10%, 20%, 30%
    top 0
  40%
    top 12px
  50%
    top 0
  60%
    top 12px
  70%, 80%, 90%, 100%
    top 0

@keyframes botMotion
  0%,10%
    top 0
  20%, 80%
    top -13px
  90%, 100%
    top 0

@keyframes neckMotion
  0%,10%
    top 30px
  20%, 80%
    top 17px
  90%, 100%
    top 30px

@keyframes bodyMotion
  0%,10%
    top 33px
  20%, 80%
    top 20px
  90%, 100%
    top 33px

@keyframes eyeBlink
  0%, 10%
    background-color blue
  15%
    background-color grey
  20%, 50%, 80%
    background-color blue
  85%
    background-color grey
  90%, 100%
    background-color blue

  
  
#credits
  position absolute
  bottom 5%
  right 5%
  li
    display inline-block
    a
      text-decoration none
      color grey
    a:hover
      color pink
  li:first-child
    margin-right .5em
